@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

@layer components {
  .btn {
    border-radius: 22px;
    height: 44px;
    border: solid 1px #FF5C00;
    font-size: 14px;
    font-weight: 600;
    color: #FF5C00;
    padding: 0 24px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: all 200ms;
  }

  .btn:hover {
    background: #FF5C00;
    color: #FFF;
  }

  .btn.active {
    background: #FF5C00;
    color: #FFF;
  }

  .btn-outline {
    border: 1px solid #000;
    color: #000;
    background: transparent;
    padding: 0 24px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 22px;
    height: 44px;
    transition: all 200ms;
  }

  .btn-outline:hover {
    background: #000;
    color: #fff;
  }
  .custom-slider {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
  }
  
  .slide {
    transition: transform 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
}
